# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Logs
*.log

# Pytest cache
.pytest_cache/

# Uvicorn or FastAPI cache
*.pid
*.db

# Mac OS system files
.DS_Store
